<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta content="<%= name %>'s Portfolio" name="description" />
    <meta content="The things I make and do." name="og:description" />
    <meta content="./images/open-graph/image.png" name="og:image" />
    <meta content="<%= name %>'s Portfolio" name="og:title" />
    <meta content="website" name="og:type" />
    <meta content="#0f0" name="theme-color" />
    <meta content="initial-scale=1, viewport-fit=cover" name="viewport" />
    <%= styles %>
  </head>
  <body>
    <div aria-hidden="true" class="<%= namespace %>-body-double"></div>
    <div class="<%= namespace %>-app"></div>
    <noscript>
      <h1>Hi! 👋</h1>
      <p>
        You're going to need to enable JavaScript so that my portfolio can do
        its thing...
      </p>
    </noscript>
  </body>
</html>
