<!DOCTYPE html>
<html lang="en-AU" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta content="<%= description %>" name="description" />
    <meta content="<%= name %>" name="author" />
    <meta content="initial-scale=1, viewport-fit=cover" name="viewport" />
    <meta content="<%= themeColor %>" name="theme-color" />
    <%= styles %>
    <meta content="<%= description %>" property="og:description" />
    <meta content="<%= image =>" property="og:image" />
    <meta content="en_AU" property="og:locale" />
    <meta content="<%= title %>" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="<%= URL %>" property="og:url" />
    <meta content="summary" name="twitter:card" />
    <meta content="<%= description %>" name="twitter:description" />
    <meta content="<%= image %>" name="twitter:image" />
    <meta content="<%= imageAlt %>" name="twitter:image:alt" />
    <meta content="<%= URL %>" name="twitter:site" />
    <meta content="<%= title %>" name="twitter:title" />
    <meta content="<%= robots %>" name="robots" />
    <link href="<%= URL %>" rel="canonical" />
  </head>
  <body>
    <div aria-hidden="true" class="<%= ns %>-body-double"></div>
    <div class="<%= ns %>-app"></div>
    <noscript>
      <h1>Hi! 👋</h1>
      <p>
        You're going to need to enable JavaScript so that my portfolio can do
        its thing...
      </p>
    </noscript>
  </body>
</html>
