@import '../tokens/namespace';
@import '../functions/to-rem';
@import '../mixins/breakpoint';
@import '../mixins/center';
@import '../mixins/has-touch';

.#{$ns}-footer {
  z-index: 1;
  @include center(x);
  bottom: calc(env(safe-area-inset-bottom) + #{to-rem(40px)});
  height: to-rem(64px);
}

.#{$ns}-footer__list {
  display: flex;
  justify-content: center;
}

.#{$ns}-footer__item {
  height: to-rem(48px);
  width: to-rem(48px);
}

.#{$ns}-footer__link {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
}

.#{$ns}-footer__statement {
  font-size: to-rem(10px);
  line-height: to-rem(16px);
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

@include has-touch() {
  .#{$ns}-footer {
    top: calc(env(safe-area-inset-top) + #{to-rem(24px)});
    bottom: unset;
    display: flex;
    flex-direction: column-reverse;
  }
}

@include breakpoint(s) {
  .#{$ns}-footer {
    top: unset;
    bottom: calc(env(safe-area-inset-bottom) + #{to-rem(40px)});
    left: calc(env(safe-area-inset-left) + #{to-rem(40px)});
    right: calc(env(safe-area-inset-right) + #{to-rem(56px)});
    transform: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: to-rem(48px);
  }
}

// @include breakpoint(s, height) {
//   .#{$ns}-footer {
//     height: to-rem(112px);
//   }

//   .#{$ns}-footer__statement {
//     font-size: to-rem(11px);
//     line-height: to-rem(24px);
//   }

//   @include breakpoint(s) {
//     .#{$ns}-footer {
//       height: to-rem(76px);
//     }

//     .#{$ns}-footer__list {
//       left: to-rem(28px);
//       gap: to-rem(16px);
//       width: to-rem(240px);
//     }

//     .#{$ns}-footer__link > .#{$ns}-icon {
//       height: to-rem(24px);
//       width: to-rem(24px);
//     }

//     .#{$ns}-footer__statement {
//       top: to-rem(12px);
//     }
//   }

//   @include breakpoint(m) {
//     .#{$ns}-footer__list {
//       left: to-rem(52px);
//     }

//     .#{$ns}-footer__statement {
//       right: to-rem(64px);
//     }
//   }
// }

// @include breakpoint(m, height) {
//   .#{$ns}-footer {
//     height: to-rem(136px);
//   }

//   .#{$ns}-footer__statement {
//     font-size: to-rem(12px);
//   }

//   @include breakpoint(s) {
//     .#{$ns}-footer {
//       height: to-rem(100px);
//     }
//   }

//   @include breakpoint(l) {
//     .#{$ns}-footer__list {
//       left: to-rem(92px);
//     }

//     .#{$ns}-footer__statement {
//       right: to-rem(104px);
//     }
//   }
// }

// @include breakpoint(l, height) {
//   .#{$ns}-footer {
//     height: to-rem(176px);
//   }

//   .#{$ns}-footer__statement {
//     font-size: to-rem(13px);
//   }

//   @include breakpoint(s) {
//     .#{$ns}-footer {
//       height: to-rem(100px);
//     }
//   }

//   @include breakpoint(m) {
//     .#{$ns}-footer {
//       height: to-rem(140px);
//     }
//   }

//   @include breakpoint(l) {
//     .#{$ns}-footer__list {
//       left: to-rem(92px);
//     }

//     .#{$ns}-footer__statement {
//       right: to-rem(104px);
//     }
//   }
// }
