@import '../tokens/namespace';
@import '../functions/to-rem';
@import '../mixins/breakpoint';
@import '../mixins/center';
@import '../mixins/has-touch';

.#{$ns}-footer {
  z-index: 1;
  @include center(x);
  bottom: env(safe-area-inset-bottom);
  height: to-rem(84px);
}

.#{$ns}-footer__list {
  display: flex;
  justify-content: center;
}

.#{$ns}-footer__item {
  height: to-rem(44px);
  width: to-rem(44px);
  margin-right: to-rem(4px);
  margin-left: to-rem(4px);
}

.#{$ns}-footer__item:first-of-type {
  margin-left: 0;
}

.#{$ns}-footer__item:last-of-type {
  margin-right: 0;
}

.#{$ns}-footer__link {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
}

.#{$ns}-footer__statement {
  font-size: to-rem(10px);
  line-height: to-rem(20px);
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

@include has-touch() {
  .#{$ns}-footer {
    top: env(safe-area-inset-top);
    bottom: unset;
    display: flex;
    flex-direction: column-reverse;
  }
}

@include breakpoint(m) {
  .#{$ns}-footer {
    left: unset;
    transform: unset;
    height: to-rem(60px);
    width: 100%;
  }

  .#{$ns}-footer__list {
    @include center(y);
    left: calc(env(safe-area-inset-left) + #{to-rem(20px)});
    justify-content: unset;
  }

  .#{$ns}-footer__statement {
    @include center(y);
    right: calc(env(safe-area-inset-right) + #{to-rem(32px)});
  }

  @include has-touch() {
    .#{$ns}-footer {
      top: unset;
      bottom: env(safe-area-inset-bottom);
      display: unset;
      flex-direction: unset;
    }
  }
}

@include breakpoint(l) {
  .#{$ns}-footer__list {
    left: calc(env(safe-area-inset-left) + #{to-rem(40px)});
    justify-content: unset;
  }

  .#{$ns}-footer__statement {
    @include center(y);
    right: calc(env(safe-area-inset-right) + #{to-rem(52px)});
  }
}

@include breakpoint(m, height) {
  .#{$ns}-footer {
    height: to-rem(96px);
  }

  @include breakpoint(m) {
    .#{$ns}-footer {
      height: to-rem(84px);
    }
  }
}

@include breakpoint(l, height) {
  .#{$ns}-footer {
    height: to-rem(116px);
  }

  @include breakpoint(m) {
    .#{$ns}-footer {
      height: to-rem(124px);
    }
  }
}
