@import '../tokens/namespace';
@import '../functions/to-rem';
@import '../mixins/breakpoint';
@import '../mixins/center';

.#{$ns}-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: to-rem(88px);
  width: 100%;
}

.#{$ns}-footer__list {
  @include center(x);
  display: flex;
  height: to-rem(48px);
  width: to-rem(192px);
}

.#{$ns}-footer__item {
  flex: 1;
}

.#{$ns}-footer__link {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.#{$ns}-footer__link > .#{$ns}-icon {
  @include center();
  height: to-rem(16px);
  width: to-rem(16px);
  pointer-events: none;
}

.#{$ns}-footer__statement {
  @include center(x);
  top: to-rem(48px);
  font-size: to-rem(10px);
  line-height: to-rem(16px);
  text-align: center;
  white-space: nowrap;
}

.#{$ns}-footer__copyright {
  display: none;
}

@include breakpoint(s) {
  .#{$ns}-footer {
    height: to-rem(56px);
  }

  .#{$ns}-footer__list {
    left: to-rem(24px);
    transform: none;
  }

  .#{$ns}-footer__statement {
    top: to-rem(16px);
    right: to-rem(40px);
    left: initial;
    transform: none;
    text-align: right;
  }

  .#{$ns}-footer__copyright {
    display: initial;
  }
}

@include breakpoint(s, height) {
  .#{$ns}-footer {
    height: to-rem(112px);
  }

  .#{$ns}-footer__statement {
    font-size: to-rem(11px);
    line-height: to-rem(24px);
  }

  @include breakpoint(s) {
    .#{$ns}-footer {
      height: to-rem(76px);
    }

    .#{$ns}-footer__list {
      left: to-rem(28px);
      gap: to-rem(16px);
      width: to-rem(240px);
    }

    .#{$ns}-footer__link > .#{$ns}-icon {
      height: to-rem(24px);
      width: to-rem(24px);
    }

    .#{$ns}-footer__statement {
      top: to-rem(12px);
    }
  }

  @include breakpoint(m) {
    .#{$ns}-footer__list {
      left: to-rem(52px);
    }

    .#{$ns}-footer__statement {
      right: to-rem(64px);
    }
  }
}

@include breakpoint(m, height) {
  .#{$ns}-footer {
    height: to-rem(136px);
  }

  .#{$ns}-footer__statement {
    font-size: to-rem(12px);
  }

  @include breakpoint(s) {
    .#{$ns}-footer {
      height: to-rem(100px);
    }
  }

  @include breakpoint(l) {
    .#{$ns}-footer__list {
      left: to-rem(92px);
    }

    .#{$ns}-footer__statement {
      right: to-rem(104px);
    }
  }
}

@include breakpoint(l, height) {
  .#{$ns}-footer {
    height: to-rem(176px);
  }

  .#{$ns}-footer__statement {
    font-size: to-rem(13px);
  }

  @include breakpoint(s) {
    .#{$ns}-footer {
      height: to-rem(100px);
    }
  }

  @include breakpoint(m) {
    .#{$ns}-footer {
      height: to-rem(140px);
    }
  }

  @include breakpoint(l) {
    .#{$ns}-footer__list {
      left: to-rem(92px);
    }

    .#{$ns}-footer__statement {
      right: to-rem(104px);
    }
  }
}
