@import '../tokens/namespace';
@import '../functions/to-rem';
@import '../mixins/breakpoint';
@import '../mixins/center';
@import '../mixins/has-touch';
@import '../mixins/safe-area';

.#{$ns}-nav {
  z-index: 1;
  @include center(x);
  @include safe-area(top, 8px);
  display: flex;
  align-items: flex-end;
  height: to-rem(44px);
}

.#{$ns}-nav__link {
  height: to-rem(44px);
  padding-top: to-rem(12px);
  padding-bottom: to-rem(12px);
  margin-right: to-rem(16px);
  margin-left: to-rem(16px);
  outline: none;
  color: currentColor;
  font-size: to-rem(12px);
  font-weight: 700;
  line-height: to-rem(20px);
  text-decoration: none;
  user-select: none;
}

.#{$ns}-nav__link:first-of-type {
  margin-left: 0;
}

.#{$ns}-nav__link:last-of-type {
  margin-right: 0;
}

.#{$ns}-nav__stroke {
  position: absolute;
  bottom: to-rem(10px);
  transform: translateX(-50%);
  height: to-rem(2px);
  border-radius: to-rem(1px);
  background-color: currentColor;
  transition: left 300ms cubic-bezier(0.25, -0.25, 0.25, 1.25), width 300ms ease;
  pointer-events: none;
}

@include has-touch() {
  .#{$ns}-nav {
    top: unset;
    @include safe-area(bottom, 8px);
  }
}

@include breakpoint(m) {
  .#{$ns}-nav {
    left: unset;
    @include safe-area(right, 32px);
    transform: unset;
  }

  @include has-touch() {
    .#{$ns}-nav {
      @include safe-area(top, 8px);
      bottom: unset;
    }
  }
}

@include breakpoint(l) {
  .#{$ns}-nav {
    @include safe-area(right, 52px);
  }
}

@include breakpoint(m, height) {
  .#{$ns}-nav {
    @include safe-area(top, 20px);
  }

  @include has-touch() {
    .#{$ns}-nav {
      top: unset;
      @include safe-area(bottom, 20px);
    }
  }

  @include breakpoint(m) {
    @include has-touch() {
      .#{$ns}-nav {
        @include safe-area(top, 20px);
        bottom: unset;
      }
    }
  }
}

@include breakpoint(l, height) {
  .#{$ns}-nav {
    @include safe-area(top, 40px);
  }

  @include has-touch() {
    .#{$ns}-nav {
      top: unset;
      @include safe-area(bottom, 40px);
    }
  }

  @include breakpoint(m) {
    @include has-touch() {
      .#{$ns}-nav {
        @include safe-area(top, 40px);
        bottom: unset;
      }
    }
  }
}
