@import '../tokens/namespace';
@import '../tokens/transition';
@import '../functions/to-rem';
@import '../mixins/breakpoint';
@import '../mixins/center';
@import '../mixins/has-touch';
@import '../mixins/safe-area';

.#{$ns}-nav {
  z-index: 1;
  @include center(x);
  @include safe-area(top, 8px);
  display: flex;
  align-items: flex-end;
  height: to-rem(44px);
}

.#{$ns}-nav__link {
  opacity: 0;
  position: relative;
  transform: translateY(#{to-rem(20px)});
  height: to-rem(44px);
  padding-top: to-rem(12px);
  padding-bottom: to-rem(12px);
  margin-right: to-rem(16px);
  margin-left: to-rem(16px);
  outline: none;
  color: currentColor;
  font-size: to-rem(12px);
  font-weight: 700;
  line-height: to-rem(20px);
  text-decoration: none;
  transition: opacity $transition-duration-opacity ease,
    transform $transition-duration-transform
      $transition-timing-function-bounce-m;
  user-select: none;
}

.#{$ns}-nav__link:first-of-type {
  margin-left: 0;
}

.#{$ns}-nav__link:last-of-type {
  margin-right: 0;
}

.#{$ns}-nav__link:nth-of-type(1) {
  transition-delay: $transition-duration-unit * 11 + ms;
}

.#{$ns}-nav__link:nth-of-type(2) {
  transition-delay: $transition-duration-unit * 12 + ms;
}

.#{$ns}-nav__link:nth-of-type(3) {
  transition-delay: $transition-duration-unit * 13 + ms;
}

.#{$ns}-nav--ready .#{$ns}-nav__link {
  opacity: 1;
  transform: translateY(0);
}

.#{$ns}-nav__stroke {
  opacity: 0;
  position: absolute;
  bottom: to-rem(10px);
  transform: translate(-50%, #{to-rem(20px)});
  height: to-rem(2px);
  border-radius: to-rem(1px);
  background-color: currentColor;
  transition: opacity $transition-duration-opacity ease,
    left $transition-duration-left $transition-timing-function-bounce-s,
    transform $transition-duration-transform
      $transition-timing-function-bounce-m,
    width $transition-duration-width ease;
  transition-delay: 0ms;
  pointer-events: none;
}

.#{$ns}-nav--ready .#{$ns}-nav__stroke {
  opacity: 1;
  transform: translate(-50%, 0);
  transition-delay: $transition-duration-unit * 14 + ms;
}

@include has-touch() {
  .#{$ns}-nav {
    top: unset;
    @include safe-area(bottom, 8px);
  }
}

@include breakpoint(m) {
  .#{$ns}-nav {
    left: unset;
    @include safe-area(right, 32px);
    transform: unset;
  }

  @include has-touch() {
    .#{$ns}-nav {
      @include safe-area(top, 8px);
      bottom: unset;
    }
  }
}

@include breakpoint(l) {
  .#{$ns}-nav {
    @include safe-area(right, 52px);
  }
}

@include breakpoint(m, height) {
  .#{$ns}-nav {
    @include safe-area(top, 20px);
  }

  @include has-touch() {
    .#{$ns}-nav {
      top: unset;
      @include safe-area(bottom, 20px);
    }
  }

  @include breakpoint(m) {
    @include has-touch() {
      .#{$ns}-nav {
        @include safe-area(top, 20px);
        bottom: unset;
      }
    }
  }
}

@include breakpoint(l, height) {
  .#{$ns}-nav {
    @include safe-area(top, 40px);
  }

  @include has-touch() {
    .#{$ns}-nav {
      top: unset;
      @include safe-area(bottom, 40px);
    }
  }

  @include breakpoint(m) {
    @include has-touch() {
      .#{$ns}-nav {
        @include safe-area(top, 40px);
        bottom: unset;
      }
    }
  }
}
