@import '../tokens/namespace';
@import '../tokens/transition';
@import '../functions/to-rem';
@import '../mixins/center';

.#{$ns}-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.#{$ns}-slide.landscape {
  flex-direction: row-reverse;
}

.#{$ns}-slide__outer {
  position: relative;
}

.#{$ns}-slide__outer:first-of-type {
  flex-grow: 1;
}

.landscape .#{$ns}-slide__outer:first-of-type {
  flex-basis: 50%;
  flex-grow: unset;
}

.landscape .#{$ns}-slide__outer:last-of-type {
  flex-basis: 50%;
}

.#{$ns}-slide__outer:first-of-type .#{$ns}-slide__inner {
  @include center();
}

.landscape .#{$ns}-slide__outer:last-of-type .#{$ns}-slide__inner {
  @include center();
}

.#{$ns}-slide__title {
  opacity: 0;
  position: relative;
  transform: translateY(#{to-rem(20px)});
  transition: opacity $transition-duration-opacity ease,
    transform $transition-duration-transform
      $transition-timing-function-bounce-m;
  transition-delay: $transition-duration-unit * 5 + ms;
}

.ready .#{$ns}-slide__title {
  opacity: 1;
  transform: translateY(0);
  transition-delay: $transition-duration-unit * 8 + ms;
}

.#{$ns}-slide__description {
  opacity: 0;
  position: relative;
  transform: translateY(#{to-rem(20px)});
  transition: opacity $transition-duration-opacity ease,
    transform $transition-duration-transform
      $transition-timing-function-bounce-m;
  transition-delay: $transition-duration-unit * 4 + ms;
}

.ready .#{$ns}-slide__description {
  transition-delay: $transition-duration-unit * 9 + ms;
  opacity: 1;
  transform: translateY(0);
}

.#{$ns}-slide__button {
  opacity: 0;
  position: relative;
  transform: translateY(#{to-rem(20px)});
  transition: opacity $transition-duration-opacity ease,
    transform $transition-duration-transform
      $transition-timing-function-bounce-m;
  transition-delay: $transition-duration-unit * 3 + ms;
}

.ready .#{$ns}-slide__button {
  opacity: 1;
  transform: translateY(0);
  transition-delay: $transition-duration-unit * 10 + ms;
}
