@import '../tokens/namespace';
@import '../mixins/center';

.#{$ns}-slide {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

.landscape > .#{$ns}-slide {
  flex-direction: row;
}

.#{$ns}-slide__outer {
  position: relative;
}

.#{$ns}-slide__outer:last-of-type {
  flex-grow: 1;
}

.landscape .#{$ns}-slide__outer:first-of-type {
  flex-basis: 50%;
}

.landscape .#{$ns}-slide__outer:last-of-type {
  flex-basis: 50%;
  flex-grow: unset;
}

.#{$ns}-slide__outer:last-of-type .#{$ns}-slide__inner {
  @include center();
}

.landscape .#{$ns}-slide__outer:first-of-type .#{$ns}-slide__inner {
  @include center();
}

.slide__title {
  opacity: 0;
  // display: none;
  // visibility: hidden;
  transition: opacity 300ms ease-in-out;
}

.ready .slide__title {
  opacity: 1;
  // display: initial;
  // visibility: visible;
}

.slide__description {
  opacity: 0;
  // display: none;
  // visibility: hidden;
}

.slide__button {
  opacity: 0;
  display: none;
  visibility: hidden;
}
