@import '../tokens/namespace';
@import '../functions/to-theme-var';

.#{$ns}-social {
  pointer-events: none;
  user-select: none;
}

.#{$ns}-social__tile {
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  fill: to-theme-var(accent);
  transition: opacity 300ms ease-in,
    transform 300ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

:hover > .#{$ns}-social .#{$ns}-social__tile,
:focus > .#{$ns}-social .#{$ns}-social__tile {
  opacity: 1;
  transform: scale(1);
}

:active > .#{$ns}-social .#{$ns}-social__tile {
  opacity: 0;
  transform: scale(0);
}

.#{$ns}-social__logo {
  fill: to-theme-var(foreground-primary);
  transition: fill 300ms ease-in;
}

:hover > .#{$ns}-social .#{$ns}-social__logo,
:focus > .#{$ns}-social .#{$ns}-social__logo,
:active > .#{$ns}-social .#{$ns}-social__logo {
  fill: to-theme-var(foreground-secondary);
}
