@import '../../config/duration.js';

$transition-duration-box-shadow: map-get($duration, 'box-shadow') + ms;
$transition-duration-color: map-get($duration, 'color') + ms;
$transition-duration-transform: map-get($duration, 'transform') + ms;
$transition-duration-opacity: map-get($duration, 'opacity') + ms;
$transition-duration-unit: map-get($duration, 'unit');

$transition-timing-func-bounce-s: cubic-bezier(0.25, -0.25, 0.25, 1.25);
$transition-timing-func-bounce-m: cubic-bezier(0.5, -0.5, 0.5, 1.5);
$transition-timing-func-bounce-l: cubic-bezier(0.75, -0.75, 0.75, 1.75);
$transition-timing-func-default: ease-in-out;
