@import '../utils/tokens';
@import '../mixins/display-p3';

html,
body {
  // Possibly a better place to put this so that the site doesn't move when
  // there is nothing further to scroll??
  overflow: hidden;

  font-family: $font-family-system;

  // These rules improve font antialiasing on Mac OS.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // This rule improves text rendering.
  text-rendering: optimizeLegibility;

  // This rule removes the overlay that appears on elements when tapped in
  // Mobile Safari.
  -webkit-tap-highlight-color: transparent;
}

// This might need to be thematically contextual and moved to the themes dir.
.#{$ns}-app {
  position: relative;
  height: 100vh;
  width: 100vw;
  @include display-p3(background-color, #fbb1b1);
}
