@import '../tokens/typography';
@import '../functions/to-theme-var';

html {
  height: 100%;
}

body {
  // Test to see if this will cause issues on standard pages that include scroll.
  overflow: hidden;

  height: 100%;
  background: linear-gradient(
    to bottom left,
    to-theme-var(background-primary),
    to-theme-var(background-secondary)
  );
  font-family: $font-family-system;

  // These rules improve font antialiasing on Mac OS.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // This rule improves text rendering.
  text-rendering: optimizeLegibility;

  // This rule removes the overlay that appears on elements when tapped in
  // Mobile Safari.
  -webkit-tap-highlight-color: transparent;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    circle,
    to-theme-var(lighting) 0%,
    transparent 70.66% /* this scale needs more testing */
  );
  pointer-events: none;
}

// Move these rules.
.dm-slide {
  opacity: 0;
  transition: opacity 250ms ease;
}

.dm-slide.ready {
  opacity: 1;
}
