.is-animating {
  pointer-events: none;
}

:has(> .main) {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-l);
  min-height: 100%;
}

.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.ol {
  padding-left: var(--space-m);
  margin-bottom: calc(var(--font-size-p) * var(--line-height-p));
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  list-style-type: decimal;
}

.p + .ol {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.img + .ol {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.ul {
  padding-left: var(--space-m);
  margin-bottom: calc(var(--font-size-p) * var(--line-height-p));
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  list-style-type: disc;
}

.p + .ul {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.img + .ul {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.ol > .li {
  margin-bottom: calc((var(--font-size-p) * var(--line-height-p)) * 0.5);
}

.ul > .li {
  margin-bottom: calc((var(--font-size-p) * var(--line-height-p)) * 0.5);
}

@media screen and (min-width: 30.0625em) {
  :has(> .main) {
    row-gap: var(--space-xl);
  }

  .ol {
    padding-left: var(--space-l);
  }

  .ul {
    padding-left: var(--space-l);
  }
}

@media screen and (min-width: 60.0625em) {
  :has(> .main) {
    row-gap: var(--space-xxl);
  }
}

@media print {
  :root {
    --border-width-l: 1.1293929pt;
    --border-width-m: 0.7529286pt;
    --border-width-s: 0.3764643pt;
    --border-radius: 0;
    --font-size-xxxxxxl: 36.491158pt;
    --font-size-xxxxxl: 32.436584pt;
    --font-size-xxxxl: 28.83252pt;
    --font-size-xxxl: 25.628906pt;
    --font-size-xxl: 22.78125pt;
    --font-size-xl: 20.25pt;
    --font-size-l: 18pt;
    --font-size-m: 16pt;
    --font-size-s: 14.222222pt;
    --font-size-xs: 12.641975pt;
    --font-size-xxs: 11.237311pt;
    --font-size-xxxs: 9.988721pt;
    --font-size-xxxxs: 8.878863pt;
    --font-size-xxxxxs: 7.892323pt;
    --font-size-xxxxxxs: 7.015398pt;
    --font-size-h1: var(--font-size-xl);
    --font-size-h1-squashed: var(--font-size-l);
    --font-size-h2: var(--font-size-m);
    --font-size-h2-squashed: var(--font-size-s);
    --font-size-h3: var(--font-size-xs);
    --font-size-h3-squashed: var(--font-size-xxs);
    --font-size-p: var(--font-size-xxxs);
    --font-size-p-squashed: var(--font-size-xxxxs);
    --space-xxl: 63mm;
    --space-xl: 39mm;
    --space-l: 24mm;
    --space-m: 15mm;
    --space-s: 9mm;
    --space-xs: 6mm;
    --space-xxs: 3mm;
  }
}
