.artworks {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 100%;
}

// Experimaental visual fixes. Might need to be applied to Framer motion components.
.artworks * {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  // transform: translate3d(0, 0, 0);
}

.artworks__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
}

.artwork {
  position: absolute;
}

.artworks--angled-screens .artwork:nth-last-of-type(1) {
  bottom: 0;
  rotate: 3deg;
  transform-origin: bottom right;
}

.artworks--angled-screens .artwork:nth-last-of-type(3) {
  bottom: 0;
  rotate: -3deg;
  transform-origin: bottom left;
}

.artworks--angled-screens.artworks--is-landscape .artwork:nth-last-of-type(1) {
  left: 50%;
  rotate: unset;
  translate: -50% 0;
}

.artworks--angled-screens.artworks--is-landscape .artwork:nth-last-of-type(3) {
  rotate: -6deg;
}

.artworks--angled-screens.artworks--is-landscape .artwork:nth-last-of-type(5) {
  bottom: 0;
  rotate: 6deg;
  transform-origin: bottom right;
}

.artworks--pages .artwork:nth-last-of-type(3) {
  bottom: 0;
  rotate: 6deg;
  transform-origin: bottom right;
}

.artworks--straight-screens .artwork:nth-last-of-type(3) {
  right: 0;
}

.artworks--straight-screens.artworks--is-landscape
  .artwork:nth-last-of-type(1) {
  bottom: 0;
}

.artworks--straight-screens.artworks--is-landscape
  .artwork:nth-last-of-type(3) {
  left: 50%;
  translate: -50% 0;
}

.artworks--straight-screens.artworks--is-landscape
  .artwork:nth-last-of-type(5) {
  right: 0;
}

.artwork * {
  pointer-events: none;
}

.artwork__inner {
  position: relative;
  height: 100%;
}

.artwork__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-eggshell-100);
}

.artworks--has-dark-mode .artwork__background {
  background: var(--color-background-primary);
}

.artwork__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .artwork__embossing::before {
//   content: '';
//   mix-blend-mode: soft-light;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: var(--linear-gradient-embossing); // Needs work.
// }

// .artwork__embossing::after {
//   content: '';
//   position: absolute;
//   top: var(--border-width-s);
//   right: var(--border-width-s);
//   bottom: var(--border-width-s);
//   left: var(--border-width-s);
//   background: var(--color-eggshell-100);
// }

.artworks--has-dark-mode .artwork__embossing::after {
  background: var(--color-background-primary);
}

.shadow {
  position: absolute;

  // Visual fix.
  transform: translate3d(0, 0, 0);
}

.shadow--artworks {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
}

.shadow--artwork {
  overflow: hidden;
}

.artworks--angled-screens .shadow--artwork {
  bottom: 0;
  rotate: -3deg;
  transform-origin: bottom left;
}

.artworks--angled-screens.artworks--is-landscape
  .shadow--artwork:nth-last-of-type(2) {
  rotate: -6deg;
}

.artworks--angled-screens.artworks--is-landscape
  .shadow--artwork:nth-last-of-type(4) {
  transform-origin: bottom right;
  rotate: 6deg;
}

.artworks--pages .shadow--artwork {
  bottom: 0;
  rotate: 6deg;
  transform-origin: bottom right;
}

.artworks--straight-screens .shadow--artwork {
  right: 0;
}

.artworks--straight-screens.artworks--is-landscape
  .shadow--artwork:nth-last-of-type(2) {
  right: 50%;
  translate: 50% 0;
}

.shadow__inner {
  position: absolute;
  background: var(--color-eggshell-100);
}

// .has-mode?
.artworks--has-dark-mode .shadow__inner {
  background: var(--color-background-primary);
}

.shadow--artworks .shadow__inner {
  // Visual fix.
  translate: 0 -0.0625rem;
}

.artworks--angled-screens .shadow--artworks .shadow__inner:nth-last-of-type(1) {
  rotate: 3deg;
  transform-origin: bottom right;
}

.artworks--angled-screens .shadow--artworks .shadow__inner:nth-last-of-type(2) {
  rotate: -3deg;
  transform-origin: bottom left;
}

.artworks--angled-screens.artworks--is-landscape
  .shadow--artworks
  .shadow__inner:nth-last-of-type(1) {
  rotate: 6deg;
}

.artworks--angled-screens.artworks--is-landscape
  .shadow--artworks
  .shadow__inner:nth-last-of-type(2) {
  left: 50%;
  rotate: 0deg;
  translate: -50% -0.0625rem;
}

.artworks--angled-screens.artworks--is-landscape
  .shadow--artworks
  .shadow__inner:nth-last-of-type(3) {
  rotate: -6deg;
  transform-origin: bottom left;
}

.artworks--pages .shadow--artworks .shadow__inner:nth-last-of-type(1) {
  rotate: 6deg;
  transform-origin: bottom right;
}

.artworks--straight-screens.artworks--is-landscape
  .shadow--artworks
  .shadow__inner:nth-last-of-type(1) {
  bottom: 0;
}

.artworks--straight-screens.artworks--is-landscape
  .shadow--artworks
  .shadow__inner:nth-last-of-type(3) {
  left: 50%;
  translate: -50% -0.0625rem;
}

.artworks--angled-screens .shadow--artwork .shadow__inner {
  bottom: 50%;
  rotate: 6deg;
  translate: 0 50%;
  // translate: -50% 50%;
}

.artworks--angled-screens.artworks--is-landscape
  .shadow--artwork:nth-last-of-type(2)
  .shadow__inner {
  translate: -50% 50%;
}

.artworks--angled-screens.artworks--is-landscape
  .shadow--artwork:nth-last-of-type(4)
  .shadow__inner {
  rotate: -6deg;
  translate: 50% 50%;
}

.artworks--pages .shadow--artwork .shadow__inner {
  bottom: 50%;
  rotate: -6deg;
  translate: 0 47%;
  transform-origin: bottom right;
}

.artworks--straight-screens .shadow--artwork .shadow__inner {
  translate: 0 50%;
}

@media only screen and (min-width: 30.0625em) {
  .artworks {
    padding-top: 75%;
  }
}

@media screen and (min-width: 44.0625em) {
  .artworks {
    padding-top: unset;
  }
}
