.ol {
  padding-left: var(--space-m);
  margin-bottom: calc(var(--font-size-p) * var(--line-height-p));
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  list-style-type: decimal;
}

.p + .ol {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.img + .ol {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.ul {
  padding-left: var(--space-m);
  margin-bottom: calc(var(--font-size-p) * var(--line-height-p));
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  list-style-type: disc;
}

.p + .ul {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.img + .ul {
  margin-top: calc((var(--font-size-p) * var(--line-height-p)) * -0.5);
}

.ol > .li {
  margin-bottom: calc((var(--font-size-p) * var(--line-height-p)) * 0.5);
}

.ul > .li {
  margin-bottom: calc((var(--font-size-p) * var(--line-height-p)) * 0.5);
}

@media screen and (min-width: 30.0625em) {
  .ol {
    padding-left: var(--space-l);
  }

  .ul {
    padding-left: var(--space-l);
  }
}
