:root {
  --border-radius: 0.6875rem;
  --border-width-l: 0.1875rem;
  --border-width-m: 0.125rem;
  --border-width-s: 0.0625rem;

  --color-bunker-100: rgb(13 16 18);
  --color-charade-100: rgb(34 37 39);
  --color-gunmetal-100: rgb(45 48 50);
  --color-gunmetal-85: rgb(45 48 50 / 0.85);
  --color-gunmetal-70: rgb(45 48 50 / 0.7);
  --color-cloud-100: rgb(203 200 194);
  --color-ecru-100: rgb(229 227 220);
  --color-ecru-85: rgb(229 227 220 / 0.85);
  --color-ecru-70: rgb(229 227 220 / 0.7);
  --color-eggshell-100: rgb(248 247 239);
  --color-cyan-100: rgb(0, 255, 238);
  --color-cerulean-100: rgb(1, 179, 247);
  --color-cobalt-100: rgb(1, 103, 255);

  --color-white-100: rgb(255 255 255);

  --linear-gradient-embossing: linear-gradient(
    180deg,
    rgb(255 255 255 / 0.82) 0%,
    rgb(255 255 255 / 0) 50%
  );

  --color-accent-primary: var(--color-cobalt-100);
  --color-accent-secondary: var(--color-cerulean-100);
  --color-accent-tertiary: var(--color-cyan-100);
  --color-background-primary: var(--color-eggshell-100);
  --color-background-primary-inverse: var(--color-gunmetal-100);
  --color-background-secondary: var(--color-ecru-100);
  --color-background-secondary-inverse: var(--color-charade-100);
  --color-border: var(--color-cloud-100);
  --color-shadow-button: rgb(60 38 68 / 0.05); // deal with
  --color-text-primary: var(--color-gunmetal-100);
  --color-text-primary-inverse: var(--color-ecru-100);
  --color-text-secondary: var(--color-gunmetal-85);
  --color-text-secondary-inverse: var(--color-ecru-85);
  --color-text-tertiary: var(--color-gunmetal-70);
  --color-text-tertiary-inverse: var(--color-ecru-70);

  --font-family-monospace:
    'Fira Code', 'JetBrains Mono', 'Source Code Pro', 'Inconsolata', 'Monaco',
    'Consolas', monospace;
  --font-family-sans-serif:
    'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --font-family-serif:
    'Bitter', Georgia, Cambria, 'Times New Roman', Times, serif;

  --font-size-xxxxxxl: 2.280697rem;
  --font-size-xxxxxl: 2.027287rem;
  --font-size-xxxxl: 1.802032rem;
  --font-size-xxxl: 1.601807rem;
  --font-size-xxl: 1.423828rem;
  --font-size-xl: 1.265625rem;
  --font-size-l: 1.125rem;
  --font-size-m: 1rem;
  --font-size-s: 0.888889rem;
  --font-size-xs: 0.790123rem;
  --font-size-xxs: 0.702332rem;
  --font-size-xxxs: 0.624295rem;
  --font-size-xxxxs: 0.554929rem;
  --font-size-xxxxxs: 0.49327rem;
  --font-size-xxxxxxs: 0.438462rem;

  --font-size-h1: var(--font-size-xxxxl);
  --font-size-h2: var(--font-size-xxl);
  --font-size-h3: var(--font-size-l);
  --font-size-p: var(--font-size-s);

  --line-height-h1: 1.25;
  --line-height-h2: 1.4;
  --line-height-h3: 1.4;
  --line-height-p: 1.55;

  --space-xxl: 5.25rem;
  --space-xl: 3.25rem;
  --space-l: 2rem;
  --space-m: 1.25rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
  --space-xxs: 0.25rem;
}

@media screen and (min-width: 30.0625em) {
  :root {
    --font-size-h1: var(--font-size-xxxxxxl);
    --font-size-h2: var(--font-size-xxxxl);
    --font-size-h3: var(--font-size-xxl);
    --font-size-p: var(--font-size-l);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-accent-primary: var(--color-cyan-100);
    --color-accent-secondary: var(--color-cerulean-100);
    --color-accent-tertiary: var(--color-cobalt-100);
    --color-background-primary: var(--color-gunmetal-100);
    --color-background-primary-inverse: var(--color-eggshell-100);
    --color-background-secondary: var(--color-charade-100);
    --color-background-secondary-inverse: var(--color-ecru-100);
    --color-border: var(--color-bunker-100);
    --color-shadow-button: rgb(8 6 9 / 0.15); // deal with
    --color-text-primary: var(--color-ecru-100);
    --color-text-primary-inverse: var(--color-gunmetal-100);
    --color-text-secondary: var(--color-ecru-85);
    --color-text-secondary-inverse: var(--color-gunmetal-85);
    --color-text-tertiary: var(--color-ecru-70);
    --color-text-tertiary-inverse: var(--color-gunmetal-70);
  }
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --color-bunker-100: color(display-p3 0.0509804 0.062745 0.070588);
    --color-charade-100: color(display-p3 0.133333 0.145098 0.152941);
    --color-gunmetal-100: color(display-p3 0.176471 0.188235 0.196078);
    --color-gunmetal-85: color(display-p3 0.176471 0.188235 0.196078 / 0.85);
    --color-gunmetal-70: color(display-p3 0.176471 0.188235 0.196078 / 0.7);
    --color-cloud-100: color(display-p3 0.796078 0.784314 0.760784);
    --color-ecru-100: color(display-p3 0.898039 0.890196 0.862745);
    --color-ecru-85: color(display-p3 0.898039 0.890196 0.862745 / 0.85);
    --color-ecru-70: color(display-p3 0.898039 0.890196 0.862745 / 0.7);
    --color-eggshell-100: color(display-p3 0.972549 0.968627 0.937255);
    --color-cyan-100: color(display-p3 0 1 0.933333);
    --color-cerulean-100: color(display-p3 0.003922 0.701961 0.968627);
    --color-cobalt-100: color(display-p3 0.003922 0.403922 1);
  }
}

@media print {
  :root {
    --border-radius: 0;
    --border-width-l: 1.1293929pt;
    --border-width-m: 0.7529286pt;
    --border-width-s: 0.3764643pt;
    --font-size-xxxxxxl: 36.491158pt;
    --font-size-xxxxxl: 32.436584pt;
    --font-size-xxxxl: 28.83252pt;
    --font-size-xxxl: 25.628906pt;
    --font-size-xxl: 22.78125pt;
    --font-size-xl: 20.25pt;
    --font-size-l: 18pt;
    --font-size-m: 16pt;
    --font-size-s: 14.222222pt;
    --font-size-xs: 12.641975pt;
    --font-size-xxs: 11.237311pt;
    --font-size-xxxs: 9.988721pt;
    --font-size-xxxxs: 8.878863pt;
    --font-size-xxxxxs: 7.892323pt;
    --font-size-xxxxxxs: 7.015398pt;
    --font-size-h1: var(--font-size-xl);
    // --font-size-h1-squashed: var(--font-size-l);
    --font-size-h2: var(--font-size-m);
    // --font-size-h2-squashed: var(--font-size-s);
    --font-size-h3: var(--font-size-xs);
    // --font-size-h3-squashed: var(--font-size-xxs);
    --font-size-p: var(--font-size-xxxs);
    // --font-size-p-squashed: var(--font-size-xxxxs);
    --space-xxl: 63mm;
    --space-xl: 39mm;
    --space-l: 24mm;
    --space-m: 15mm;
    --space-s: 9mm;
    --space-xs: 6mm;
    --space-xxs: 3mm;
  }
}
