@use 'sass:math';

@function to-display-p3($rgb) {
  $red: red($rgb);
  $green: green($rgb);
  $blue: blue($rgb);
  $alpha: alpha($rgb);

  $display-p3: 'color(display-p3 #{math.div($red, 255)} #{math.div($green, 255)} #{math.div($blue, 255)}';

  @if $alpha != 1 {
    $display-p3: $display-p3 + ' / #{$alpha * 100%}';
  }

  $display-p3: $display-p3 + ')';

  @return unquote($display-p3);
}
