@import './base/core';
@import './base/root';
@import './base/reset';
@import './layout/footer';

html,
body {
  // overflow: hidden;
  font-family: $font-family-system;

  // These rules improve font antialiasing on Mac OS.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // This rule improves text rendering.
  text-rendering: optimizeLegibility;

  // This rule removes the overlay that appears on elements when tapped in
  // Mobile Safari.
  -webkit-tap-highlight-color: transparent;
}

.#{$namespace}-app {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: blueviolet;
}
